@define-color bar-bg rgba(30, 30, 46, 0.6);      /* semi-transparan, blur handled by compositor */
@define-color main-bg rgba(30, 30, 46, 0.8);
@define-color main-fg rgba(180,190,254,1);
@define-color wb-act-bg rgba(180,190,254,0.9);
@define-color wb-act-fg rgba(0,0,0,0.7);
@define-color wb-hvr-bg rgba(75,75,125,0.4);
@define-color wb-hvr-fg rgba(174,170,240,0.8);

* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 12px;
    min-height: 10px;
}

window#waybar {
    background: @bar-bg;
    border-radius: 15px;
}

tooltip {
    background: @main-bg;
    color: @main-fg;
    border-radius: 7px;
    border-width: 0px;
}

#workspaces,
#taskbar {
    padding: 0px;
}

#workspaces button,
#taskbar button {
    box-shadow: none;
    text-shadow: none;
    padding: 0px 3px;
    border-radius: 9px;
    margin: 3px 0;
    color: @main-fg;
    animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.active,
#taskbar button.active {
    background: @wb-act-bg;
    color: @wb-act-fg;
    padding: 0 12px;
    margin: 3px 0;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover,
#taskbar button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-fg;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#tray,
#workspaces,
#taskbar,
#clock,
#idle_inhibitor,
#language,
#custom-l_end,
#custom-r_end {
    color: @main-fg;
    background: @main-bg;
    opacity: 1;
    margin: 4px 0;
    padding: 0 6px;
}

/* Left and right end modules */
#custom-l_end {
    border-radius: 21px 0 0 21px;
    margin-left: 0;
    padding-left: 6px;
}

#custom-r_end {
    border-radius: 0 21px 21px 0;
    margin-right: 0;
    padding-right: 6px;
}

/* Group modules */
#system-info,
#system-levels,
#control-panel {
    background: @main-bg;
    border-radius: 20px;
    margin: 4px 0;
    padding: 0px 20px;
}

/* Tray menu */
#tray menu * {
    min-height: 16px;
}

#tray menu separator {
    min-height: 10px;
}

/* Optional paddings */
#custom-padd,
#custom-padd_bg {
    background: @main-bg;
    margin: 4px 0;
    padding: 0 6px;
}

/* Optional hover & active animation placeholders */
@keyframes ws_normal { 0% { } 100% { } }
@keyframes ws_active { 0% { } 100% { } }
@keyframes ws_hover { 0% { } 100% { } }
@keyframes tb_normal { 0% { } 100% { } }
@keyframes tb_active { 0% { } 100% { } }
@keyframes tb_hover { 0% { } 100% { } }
